<?xml version="1.0" encoding="UTF-8"?>

<!-- see luminus example: https://luminusweb.com/docs/logging.html  -->
<!-- and https://logback.qos.ch/manual/configuration.html -->

<!-- auto load every x seconds -->
<configuration scan="true" scanPeriod="15 seconds">
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <property name="LOG_DIR" value="logs" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date{ISO8601} [%thread] %-5level %logger{36} %msg %n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/app.log</file>
        <rollingPolicy
         class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
             class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- keep 7 days of history -->
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date{ISO8601} [%thread] %-5level %logger{36} %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="com.zaxxer.hikari" level="error" />
    <logger name="org.eclipse.jetty" level="error" />

    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>